.about-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/about/about-hero.jpg') no-repeat 25% center;
    background-size: cover;
}

.about-body {

}

.message-title-topline-black {
    position: relative;
    color: #000;
    line-height: 1.1;
    font-family: 'minion-pro-subhead', serif;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 9px;
}

.message-title-black {
    position: relative;
    display: block;
    margin-bottom: 30px;
    color: #fff;
    letter-spacing: 2;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.principles-text p,
.unique-text p,
.message-title-topline-black,
.materials-text p/*,
.buying-text p,
.buying-text a:link,
.buying-text a:visited,
.buying-text a:hover,
.buying-text a:active*/  {
    color: #fff;
}

.buying-text .message-title-topline-black {
    color: #000;
}

.block-1 {
    position: relative;
    display: block;
    margin-bottom: 60px;
}

.block-1-row-1 {
    position: relative;
    display: block;
    min-height: 338px;
    margin-bottom: 60px;
}

.principles-text {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 15px;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.5);
    top: -15px;
}

.bag-handle-wrapper {
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
    z-index: -1;
    min-height: 100%;
}

.bag-handle-aspect {
    padding-top: 0;
    height: 100vw;
    max-height: 338px;
}

.bag-handle-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/img/about/girl-bench.jpg) no-repeat 100% center;
    background-size: cover;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    height: 100%;
}

.center-leather {
    display: none;
}

.block-1-row-2 {
    position: relative;
    display: block;
    margin-top: 0;
    min-height: 338px;
    margin-bottom: 60px;
}

.leather-folds-wrapper {
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
    z-index: -1;
    min-height: 100%;
}

.leather-folds-aspect {
    padding-top: 0;
    height: 100vw;
    max-height: 338px;
}

.leather-folds-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/img/about/badge.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    height: 100%;
}

.unique-text {
    position: relative;
    display: block;
    width: 100%;
    padding: 15px;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.5);
    top: -15px;
}

.block-1 p,
.block-2 p,
.block-3 p,
.block-4 p,
.block-5 p ,
.block-6 p ,
.block-7 p {
    font-weight: 300;
    line-height: 1.85;
    margin-bottom: 0;
}

.block-2 {
    position: relative;
    display: block;
    text-align: center;
    min-height: 338px;
    margin-bottom: 60px;
}

.route66-wrapper {
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
    z-index: -1;
    min-height: 100%;
}

.route66-aspect {
    padding-top: 0;
    height: 100vw;
    max-height: 338px;
}

.route66-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/img/about/bench-feet.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    height: 100%;
}

.collections-text {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 15px;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.75);
    top: -15px;
}

.block-2 p,
.block-6 p {
    color: #fff;
}

.block-3 {
    position: relative;
    display: block;
    margin-bottom: 60px;
}

.block-3-row-1 {
    position: relative;
    display: block;
    min-height: 338px;
    margin-bottom: 30px;
}

.villa-wrapper {
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
    min-height: 100%;
}

.villa-aspect {
    padding-top: 0;
    height: 100vw;
    max-height: 338px;
}

.villa-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/img/about/villa.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    height: 100%;
}

.limited-title {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 15px;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.5);
    top: -15px;
}

.center-dress {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 240px;
    height: 180px;
    background: url(/img/about/reykjavik-boat.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.block-3-row-2 {
    position: relative;
    display: block;
    min-height: 338px;
    margin-bottom: 60px;
}

.iceland-wrapper {
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
    min-height: 100%;
    z-index: -1;
}

.iceland-aspect {
    padding-top: 0;
    height: 100vw;
    max-height: 338px;
}

.iceland-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/img/about/dancers.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    height: 100%;
}

.forever-title {
    position: absolute;
    text-align: left;
    width: 100%;
    padding: 15px;
    vertical-align: bottom;
    background-color: rgba(0,0,0,0.5);
    bottom: -15px;
    left: 0;
    right: 0;
}

.block-4 {
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 60px;
    min-height: 338px;
}

.makers-tools-wrapper {
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
    z-index: -1;
    min-height: 100%;
}

.makers-tools-aspect {
    padding-top: 0;
    height: 100vw;
    max-height: 338px;
}

.makers-tools-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/img/about/makers-tools.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    height: 100%;
}

.best-text {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 15px;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.75);
    top: -15px;
}

.block-4 p {
    color: #fff;
}

.block-5 {
    position: relative;
    display: block;
    margin-bottom: 60px;
}

.block-5-row-1 {
    position: relative;
    display: block;
    min-height: 338px;
    margin-bottom: 30px;
}

.materials-title {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 15px;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.5);
    top: -15px;
}

.badge-wrapper {
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
    z-index: -1;
    min-height: 100%;
}

.badge-aspect {
    padding-top: 0;
    height: 100vw;
    max-height: 338px;
}

.badge-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/img/about/leather-slop.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    height: 100%;
}

.center-folds {
    display: none;
}

.block-5-row-2 {
    position: relative;
    display: block;
    min-height: 338px;
    margin-bottom: 30px;
}

.laborers-wrapper {
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
    z-index: -1;
    min-height: 100%;
}

.laborers-aspect {
    padding-top: 0;
    height: 100vw;
    max-height: 338px;
}

.laborers-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/img/about/laborers.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    height: 100%;
}

.materials-text {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 15px;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.75);
    top: -15px;
}

.block-6 {
    position: relative;
    display: block;
    margin-bottom: 60px;
}

.dining-wrapper {
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
    min-height: 100%;
}

.dining-aspect {
    padding-top: 0;
    height: 100vw;
    max-height: 338px;
}

.dining-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/img/about/dining.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    height: 100%;
}

.team-text {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 15px;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.75);
    top: -15px;
}

.block-7 {
    position: relative;
    display: block;
    margin-bottom: 60px;
    text-align: right;
}

.buying-text {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 0;
    vertical-align: middle;
    top: 0;
}


@media all and (min-width : 741px) {

        .hero-text-block {
            padding-left: 60px;
        }

        .about-hero {
            background: url('/img/about/about-hero.jpg') no-repeat 25% center;
            background-size: cover;
        }

        .message-title-topline-black {
            letter-spacing: 12px;
        }

        .block-1-row-1 {
        margin-bottom: 0;
        }

        .principles-text {
            text-align: right;
            position: relative;
            display: inline-block;
            left: 0;
            top: 0;
            width: 48%;
            padding: 0 60px 60px 60px;
            vertical-align: top;

        background-color: transparent;
        }

        .principles-text p,
        .unique-text p,
        .message-title-topline-black,
        .materials-text p,
        .buying-text p {
            color: #000;
        }

        .bag-handle-wrapper {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 52%;

        top: auto;
        left: auto;
        right: auto;

        }

        .bag-handle-aspect {
            padding-top: 75%;
        height: auto;
        }

        .bag-handle-content {
        height: auto;
        }

        .center-leather {
            position: absolute;
            display: block;
            right: 50%;
            top: 50%;
            transform: translate(50%, -50%);
            width: 120px;
            height: 180px;
            background: url(/img/about/leather-swatch.jpg) no-repeat center;
            background-size: cover;
            box-shadow: 0 5px 5px rgba(0,0,0,0.5);
        }

        .block-1-row-2 {
            position: relative;
            display: block;
            margin-top: -60px;
        margin-bottom: 0;
        }

        .leather-folds-wrapper {
            position: relative;
            display: inline-block;
            vertical-align: bottom;
            width: 52%;
        top: auto;
        left: auto;
        right: auto;
        }

        .leather-folds-aspect {
            padding-top: 75%;
        height: auto;
        }

        .leather-folds-content {
        height: auto;
        }

        .unique-text {
            position: relative;
            display: inline-block;
            right: 0;
            bottom: 0;
            width: 48%;
            padding: 60px 60px 0 60px;
            vertical-align: bottom;

        background-color: transparent;
        }

        .collections-text {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: calc(50% - 60px);
            height: auto;
            overflow: auto;
            padding: 30px;
        }

        .route66-wrapper {
            position: relative;
            display: inline-block;
            width: calc(100% - 180px);
        top: auto;
        left: auto;
        right: auto;
        }

        .route66-aspect {
            padding-top: 60%;
        height: auto;
        }

        .route66-content {
        height: auto;
        }

        .block-3-row-1 {
            position: relative;
            display: block;
            text-align: left;
        margin-bottom: 0;
        }

        .villa-wrapper {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 47%;
        top: auto;
        left: auto;
        right: auto;
        }

        .villa-aspect {
            padding-top: 75%;
        height: auto;
        }

        .villa-content {
        height: auto;
        }

        .limited-title {
            position: relative;
            display: inline-block;
            width: 53%;
            padding: 0 60px;
            vertical-align: top;

        background-color: transparent;
        }

        .center-dress {
            right: 55%;
            top: 45%;
            width: 480px;
            height: 315px;
        }

        .block-3-row-2 {
            position: relative;
            display: block;
            margin-top: -60px;
        margin-bottom: 0;
        }

        .iceland-wrapper {
            position: relative;
            display: inline-block;
            vertical-align: bottom;
            width: 57%;
        top: auto;
        left: auto;
        right: auto;
        }

        .iceland-aspect {
            padding-top: 75%;
        height: auto;
        }

        .iceland-content {
        height: auto;
        }

        .forever-title {
            position: relative;
            display: inline-block;
            width: 43%;
            padding: 60px 60px 0 60px;
            vertical-align: bottom;

        background-color: transparent;
        }

        .forever-title span:last-child {
            margin-bottom: 15px;
        }

        .makers-tools-wrapper {
            position: relative;
            display: inline-block;
            width: calc(100% - 180px);
        top: auto;
        left: auto;
        right: auto;
        }

        .makers-tools-aspect {
            padding-top: 60%;
        height: auto;
        }

        .makers-tools-content {
        height: auto;
        }

        .best-text {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: calc(50% - 60px);
            height: auto;
            overflow: auto;
            background-color: rgba(0,0,0,0.75);
            padding: 30px;
        }

        .block-5-row-1 {
            position: relative;
            display: block;
            text-align: left;
        }

        .materials-title {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 48%;
            padding: 0 60px;
        background: transparent;
        }

        .badge-wrapper {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 52%;
        top: auto;
        left: auto;
        right: auto;
        }

        .badge-aspect {
            padding-top: 75%;
        height: auto;
        }

        .badge-content {
        height: auto;
        }

        .center-folds {
            position: absolute;
        display: block;
            right: 50%;
            top: 50%;
            transform: translate(50%, -50%);
            width: 240px;
            height: 320px;
            background: url(/img/about/hardware.jpg) no-repeat center;
            background-size: cover;
            box-shadow: 0 5px 5px rgba(0,0,0,0.5);
        }

        .block-5-row-2 {
            position: relative;
            display: block;
            margin-top: -60px;
        }

        .laborers-wrapper {
            position: relative;
            display: inline-block;
            vertical-align: bottom;
            width: 52%;
        top: auto;
        left: auto;
        right: auto;
        }

        .laborers-aspect {
            padding-top: 75%;
        height: auto;
        }

        .laborers-content {
        height: auto;
        }

        .materials-text {
            position: relative;
            display: inline-block;
            left: 0;
            bottom: 0;
            width: 48%;
            padding: 60px 60px 0 60px;
            vertical-align: bottom;
        background: transparent;
        }

        .dining-wrapper {
            position: relative;
            display: inline-block;
            width: calc(100% - 180px);
        }

        .dining-aspect {
            padding-top: 60%;
        height: auto;
        }

        .dining-content {
        height: auto;
        }

        .team-text {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: calc(50% - 60px);
            height: auto;
            overflow: auto;
            background-color: rgba(0,0,0,0.75);
            padding: 30px;
        }

        .buying-text {
            position: relative;
            display: inline-block;
            width: 50%;
        }

}

.bio-modal-link:link, .bio-modal-link:visited, .bio-modal-link:hover, .bio-modal-link:active {
    color: #fff;
}

.about-name-title {
    position: relative;
    color: #000;
    line-height: 1.1;
    font-family: 'minion-pro-subhead', serif;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 9px;
    margin-bottom: 15px;
}