.scrollWaypoint {
	top: 10%;
}
/* ====== Cart Hero ====== */

.cartHeroBgWrapper {
	background: 
 url(/img/bg/cart_header_image.jpg) no-repeat center;
	background-size: cover;
	z-index: 1;
}
.cartHeroLine1 {
	display: block;
	font-family: 'minion-pro-subhead', serif;
	font-style: italic;
	font-weight: 400;
	font-size: 28px;
	line-height: 32px;
	color: #fff;
	text-shadow: 0 2px 2px #4F5052;
}
.cartBgWrapper h2 {
	margin-bottom: 8px;
}
.checkoutBgWrapper {
	text-align: left;
}
.checkoutBgWrapper h2 {
	text-align: left;
	padding-bottom: 15px;
	margin-bottom: 24px;
	border-bottom: 1px solid #000;
	text-transform:uppercase;
}
.cartTableWrapper {
	font-family: 'proxima-nova', sans-serif;
	font-style: normal;
	font-weight: 300;
	text-align: left;
	border: 1px solid #F6F5F4;
}
/* ====== Cart Page CSS ====== */

.titleRow {
	background-color: #F6F5F4;
	color: #000;
	padding: 8px 20px;
	font-weight:500;
}
.itemTitle {
	text-align: center;
}
.qtyTitle {
	text-align: center;
}
.productTitle {
	display: none;
}
.priceTitle {
	text-align: right;
}
.cartItemsRow {
	background-color: #fff;
	padding: 20px 10px;
	border-bottom: 1px solid #F6F5F4;
}
.cartItemItem {
	text-align:center
}
.cartProductImage {
	position: relative;
	display: inline-block;
	width: 65%;
	height: auto;
}
.productNameMobile {
	position: relative;
	display: block;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 4px;
}
.produtNumber {
	position: relative;
	display: block;
	font-size: 10px;
}
.cartItemQty {
	text-align: center;
}
.qtyInput {
	text-align: center;
	width: 32px;
	height: 32px;
}
 input[type=number]::-webkit-inner-spin-button,  input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
input[type=number] {
	-moz-appearance:textfield;
}
.removeLinkMobile {
	position: relative;
	display: block;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
}
.cartItemProduct {
}
.productName {
	display: none;
}
.shippingInfo {
	display: none;
}
.removeLink {
	display: none;
}
.removeLinkMobile:link, .removeLinkMobile:visited, .removeLinkMobile:hover, .removeLinkMobile:active,  .removeLink:link, .removeLink:visited, .removeLink:hover, .removeLink:active {
	color: #797b7d;
}
.cartItemPrice {
	text-align: right;
	font-size: 16px;
}
.subTotalRow, .shippingRow, .couponRow {
	padding-left: 10px;
	padding-right: 10px;
}
.totalRow {
	background-color: #fff;
	padding: 10px;
	font-weight: 600;
}
.subtotalSpacer {
	text-align: right
}
.subtotalPrice {
	text-align: right;
}
.bottomRowButtonsWrapper {
	padding: 30px 0;
}
.couponFieldWrapper {
	position: relative;
	padding: 0 30px;
}
.couponField {
	padding: 8px;
	width: 100%;
	height: 42px;
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #797b7d;
	letter-spacing: 1px;
	border: 1px solid #F6F5F4;
	text-transform: uppercase;
}
 .couponField::-webkit-input-placeholder {
 font-weight: 400;
 color: #797b7d;
 letter-spacing: 0;
 text-transform: uppercase;
}
 .couponField::-moz-placeholder {
 font-weight: 400;
 color: #797b7d;
 letter-spacing: 0;
 text-transform: none;
}
 .couponField:-moz-placeholder {   /* Older versions of Firefox */
 font-weight: 400;
 color: #797b7d;
 letter-spacing: 0;
 text-transform: none;
}
 .couponField:-ms-input-placeholder {
 font-weight: 400;
 color: #797b7d;
 letter-spacing: 0;
 text-transform: none;
}
 .couponFieldWrapper::input-placeholder {
 font-weight: 400;
 color: #797b7d;
 letter-spacing: 0;
 text-transform: none;
}
.couponButtonWrapper {
	position: relative;
	padding: 0 30px;
	margin-bottom: 24px;
	text-align: center;
}
.couponApplyButton {
	position: relative;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	border: 1px solid #F6F5F4;
	background-color: #fff;
	font-family: "proxima-nova", sans-serif;
	font-weight: 600;
	font-size: 12px;
	padding: 0 20px;
}
.couponApplyButton:link, .couponApplyButton:visited, .couponApplyButton:hover, .couponApplyButton:active {
	color: #797b7d;
}
.updateCartButton {
	position: relative;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	border: 1px solid #F6F5F4;
	background-color: #fff;
	font-family: "proxima-nova", sans-serif;
	font-weight: 600;
	font-size: 12px;
	padding: 0 20px;
}
.updateCartButton:link, .updateCartButton:visited, .updateCartButton:hover, .updateCartButton:active {
	color: #797b7d;
}
.checkoutButtonWrapper {
	position: relative;
	text-align: center;
	padding: 0 30px;
}
.checkoutButton {
	position: relative;
	display: inline-block;
	height: 42px;
	line-height: 42px;
	background-color: #000;
	font-family: "proxima-nova", sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 32px;
}
.checkoutButton:link, .checkoutButton:visited, .checkoutButton:hover, .checkoutButton:active {
	color: #fff;
}
.emptyCartLine {
	line-height: 15vh;
	font-style: italic;
	color: #797b7d;
}
.homeButtonWrapper {
	margin-bottom: 15px;
}
.updateTotalOverlayWrapper {
	position: relative;
}
.updateTotalOverlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,0.75);
	z-index: 2;
}
/* ====== Sign-In / Guest Selection (Paged Out / Modal) ====== */

		.signInWrapper {
	position: relative;
	background-color: #fff;
	border: 1px solid #F6F5F4;
	padding: 15px;
	text-align: left;
}
.signInWrapper h2 {
	font-family: 'minion-pro-subhead', serif;
	font-style: italic;
	font-weight: 400;
	font-size: 28px;
	text-transform: none;
	margin-bottom: 10px;
}
.signInWrapper p {
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #797b7d;
	margin-bottom: 30px;
}
.signInWrapper label,  .signInWrapper input {
	display: block;
	width: 100%;
}
.signInWrapper label {
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #797b7d;
}
.signInWrapper input {
	margin-bottom: 15px;
	padding: 8px;
}
.signInColLeft {
	margin-bottom: 15px;
}
.signInColLeft,  .signInColRight {
	position: relative;
}
.buttonsRow {
	margin-top: 15px;
	display: none;
}
.guestButtonWrapper {
	padding-left: 15px;
}
.mobileElement,  .mobileButton {
	display: inline-block !important;
}
.desktopElement,  .desktopButton {
	display: none !important;
}
/* ====== From Shipping.css ====== */

input[type='radio'] {
	display: inline-block;
}
.radialWrapper {
	margin-bottom: 30px;
	min-width: 190px;
}
.paypalMessage {
	display: block;
	/*padding: 15px;
	background-color: #fff;
	border: 1px solid #F6F5F4;*/
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 60px;
}
.ccImg {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: auto;
	height: auto;
	max-width: 25%;
}
#ccXMonth, #ccXYear, #ccCode {
	width: calc(50% - 30px);
	max-width: 195px;
}
#ccXMonth {
	margin-right: 30px;
}
.continueButton {
	position: absolute;
	height: 42px;
	line-height: 42px;
	background-color: #000;
	font-family: "proxima-nova", sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 32px;
	bottom: 0;
	right: 0;
}
.continueButton:link,  .continueButton:visited,  .continueButton:hover,  .continueButton:active {
	color: #fff;
}
/* ====== Overview Stuff ====== */

.overviewTableWrapper {
	font-family: 'proxima-nova', sans-serif;
	font-style: normal;
	font-weight: 300;
	border: 1px solid #F6F5F4;
	font-size: 16px;
	background-color: #fff;
	margin-bottom: 60px;
}
.overviewTableWrapper .itemTitle {
	text-align: center;
}
.overviewTableWrapper .rowsPadding {
}
.overviewTableWrapper .sm-eight {
	text-align: left;
}
.overviewTableWrapper .sm-four {
	text-align: right;
}
.overviewTableWrapper .sm-eight.textRight {
	text-align: right;
}
.overviewTableWrapper .sm-four.textLeft {
	text-align: left;
}
.overviewTableWrapper .subTotalRow {
	padding-top: 10px;
	padding-bottom: 10px;
}
.overviewTableWrapper .shippingRow {
	padding-bottom: 15px;
}
.overviewTableWrapper .couponRow {
	color: #797b7d;
	padding-bottom: 15px;
	border-bottom: 1px solid #F6F5F4;
	font-style: italic;
}
.overviewTableWrapper .totalRow {
	font-weight: 600;
	padding-top: 10px;
}
.cartBrief {
	position: relative;
	display: block;
	margin-bottom: 15px;
}
.cartBrief {
	display: block;
}
.overviewTableWrapper {
	display: none;
}
.divRestack {
	display: table !important;
}
.checkoutFormFieldsWrapper {
	display: table-footer-group !important;
}
.checkoutRightColWrapper {
	display: table-header-group !important;
	height: auto;
}
 @media all and (min-width : 741px) {
.cartBrief {
	display: none;
}
.overviewTableWrapper {
	display: block;
}
.divRestack {
	display: block !important;
}
.checkoutFormFieldsWrapper {
	display: inline-block !important;
}
.checkoutRightColWrapper {
	display: inline-block !important;
}
}


/* ====== Media Queries ====== */

@media all and (min-width : 585px) {
.cartHeroLine1 {
	font-size: 48px;
	line-height: 62px;
}
}
 @media all and (min-width : 741px) {
.cartBgWrapper h2 {
	text-align: left;
}
.couponFieldWrapper {
	text-align: left;
	padding: 0 30px 0 0;
}
.cartHeroLine1 {
	font-size: 48px;
	line-height: 62px;
}
.produtNumber {
	font-size: 12px;
}
.productTitle {
	display: inline-block;
}
.productNameMobile,  .removeLinkMobile {
	display: none;
}
.productName {
	position: relative;
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
}
.shippingInfo {
	position: relative;
	display: block;
	font-style: italic;
	font-size: 14px;
	font-weight: 400;
	color: #797b7d;
	margin-bottom: 10px;
}
.removeLink {
	position: relative;
	display: block;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
}
.couponButtonWrapper {
	padding: 0 30px 0 0;
	text-align: left;
}
.couponApplyButton {
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	padding: 0 32px;
	text-align: center;
}
.updateCartButton {
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	padding: 0 32px;
	text-align: center;
}
.checkoutButtonWrapper {
	padding: 0;
	text-align: right;
}
.checkOutButton {
	text-align: center;
}
.homeButtonWrapper {
	text-align: right;
	padding-right: 30px;
}
.shopButtonWrapper {
	text-align: left;
	padding-left: 30px;
}
.checkoutFormFieldsWrapper {
	padding-right: 30px;
}
/* === Login / Guest Page / Modal === */

		.signInWrapper {
	padding: 30px;
}
.signInColLeft {
	padding-right: 15px;
	margin-bottom: 0;
}
.signInColRight {
	padding-left: 15px;
}
.mobileElement {
	display: none !important;
}
.desktopElement {
	display: inline-block !important;
}
.buttonsRow {
	display: block;
}
}
 @media all and (min-width: 1200px) {
}
/*STEP BY STEP CART NAV*/
.stepByNav {
	display: table;
	border-collapse: collapse;
	border: none;
	color: #fff;
	margin:0 auto;
	font-size:14px;
	width:100%;
	overflow:hidden;
}
.stepByNav ul {
	color: #fff;
	display:table-row;
}
.stepByNav li {
	display:table-cell;
	color: #797B7D;
	background-color:#EBEBEB;
	height:72px;
	vertical-align:middle;
}

.stepByNav li a .step, .stepByNav li a .numeral {
	font-family: 'proxima-nova', sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	color:#797B7D;
}

.stepByNav li a .stepLabel {
	font-family: 'minion-pro-subhead', serif;
	font-style:italic;
}
.stepByNav li.active {
	color: #fff;
	background-color:#000;
}
.stepByNav li.active a {
	color: #fff;
}
.stepByNav li {
	padding-left:30px;
	position:relative;
}
.stepByNav li a {
	width:100%;
	height:100%;
	vertical-align:middle;
	text-decoration: none;
	outline: none;
	position: relative;
	color:#797B7D;
	height:62px;
}
.stepByNav li:after {
	content:url(/img/stepBySeparator.png);
	position: absolute;
	top:-80%;
	right:-10px;
	z-index:1;
	width: auto;
	height: auto;
}
.stepByNav li.flatRight:after {
	content:"";
	position: absolute;
	top:0;
	right:0;
	z-index:1;
	width: auto;
	height: auto;
}
@media all and (max-width : 740px) {
.stepByNav li a .step, .stepByNav li a .stepLabel { display:none;}
.stepByNav li {
	padding-left: 5px;
	position: relative;
	height:50px;
}
.stepByNav li:after {
	content:url(/img/stepBySeparator.png);
	position: absolute;
	top:-69px;
	right:-10px;
	z-index:1;
	width: auto;
	height: auto;
}
}

#ccCardType {
	position:relative;
}
#ccCardType input {
	position:relative;
	padding-left:42px;
}
#ccCardType:after {
	width:32px;
	height:20px;
	position:absolute;
	left:5px;
	top:30px;
	z-index:2;
	content:"";
	background-color:#F6F5F4;
}
#ccCardType.visa:after {
	background:url(/img/cart/visa-min.png) repeat center;
	background-size:cover;
	width:32px;
	height:20px;
}
#ccCardType.amex:after {
	background:url(/img/cart/amex-min.png) repeat center;
	background-size:cover;
	width:32px;
	height:20px;
}
#ccCardType.mastercard:after {
	background:url(/img/cart/mastercard-min.png) repeat center;
	background-size:cover;
	width:32px;
	height:20px;
}
#ccCardType label:after {
	background-color:#bbbdbf;
	color:#fff;
	font-size:11px;
	font-weight:bold;
	padding:2px 0 0 0;
	border-radius:16px;
	position:absolute;
	right:7px;
	top:30px;
	width:16px;
	height:16px;
	content:"X";
	z-index:3;
	text-align:center;
}
#ccCardType label.valid:after {
	background-color:green;
	padding:0;
	border-radius:16px;
	position:absolute;
	right:7px;
	top:30px;
	width:16px;
	height:16px;
	content:url(/img/check-white-16.png);
	z-index:3;
}
.receiptOrderInfo {
	border: 1px solid #F6F5F4;
	padding: 30px;
}
.receiptOrderInfo h3 {
	padding-bottom: 12px;
	border-bottom: 1px solid #F6F5F4;
}
.receiptOrderInfo span {
	position: relative;
	display: block;
	font-family: 'proxima-nova', sans-serif;
	font-style: normal;
	font-weight: 300;
}
.receiptOrderInfo .shippingTo {
	margin-bottom: 30px;
}
.receiptOrderInfo .titleShipBill {
	font-weight: 700;
	margin-bottom: 12px;
}
.receiptTotalInfoWrapper {
	position: relative;
	display: inline-block;
	height: 100%;
}
.receiptTotalInfo {
	height: 100%;
	position: relative;
	display: block;
	border: 1px solid #F6F5F4;
	padding: 30px;
}
.receiptTotalInfoRow1, .receiptTotalInfoRow2, .receiptTotalInfoRow3 {
	position: relative;
	display: block;
	font-family: 'proxima-nova', sans-serif;
	font-style: normal;
}
.receiptTotalInfoRow1 {
	font-weight: 300;
	padding-bottom: 12px;
	border-bottom: 1px solid #F6F5F4;
	margin-bottom: 30px;
}
.receiptTotalInfoRow2 {
	font-weight: 300;
	padding-bottom: 12px;
}
.receiptTotalInfoRow3 {
	padding-top: 12px;
	border-top: 1px solid #F6F5F4;
	font-weight: 700;
	margin-top:20px;
}
.cartItemItem, .cartItemQty, .cartItemProduct, .cartItemPrice {
	height:100%;
	vertical-align:middle;
}
.cartLeft{
	padding-right:45px;	 
}
.cartSidebar {
	border: 1px solid #d7d7d8;
	margin: 15px 0;
	padding: 15px 15px 0 15px;
	position: relative;
}
.cartSidebar h2 {
	margin-bottom:15px;
}
.cartSidebar .cartSidebarRow {
	font-weight:500;
	color:#000;
}
/*.cartSidebar .cartTotalsRow {
	background-color: #F6F5F4;
	border-top:1px solid #bbbdbf;
	margin:-15px;
	margin-top:30px;
	padding:30px 15px 15px 15px;
	text-align:left;
	text-transform:uppercase;
}*/
.cartSidebar .finalTotalRow {
    margin: 0 -15px -15px -15px;
    padding: 0 15px 15px 15px;
    border-top: 1px solid transparent;
	text-align:left;
	text-transform:uppercase;
}
.lGrayWhiteGradient {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 45%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #ffffff), color-stop(100%, #e5e5e5));
	background: -webkit-linear-gradient(top, #ffffff 45%, #e5e5e5 100%);
	background: -o-linear-gradient(top, #ffffff 45%, #e5e5e5 100%);
	background: -ms-linear-gradient(top, #ffffff 45%, #e5e5e5 100%);
	background: linear-gradient(to bottom, #ffffff 45%, #e5e5e5 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0 );
}
.cartSidebarRow {
	vertical-align:middle;
	margin-bottom:20px;
}
.fillBtn.grayBtn {
	line-height:36px;
	background-color:#fff;
	color:#797b7d;
	border:1px solid #797b7d;
	text-decoration:underline;
	padding:0 11px;
	font-size:.8em;
	text-transform:uppercase;
	font-weight:600;
	text-decoration:none;
}
.buttonGroup button {
	margin-right:15px;
	margin-bottom:15px;
}
.buttonGroup button:last-child {
	margin-right:0;
}
.toggleDivGroup .toggleDivGroupButton:last-of-type {
	margin-right:0;
}

.gridLined.twoBy .row { padding-bottom:0px; /*border-bottom:2px solid #bbbdbf;*/  border-bottom:2px solid transparent;}

.gridLined.twoBy .row .sm-twelve.lg-six { padding:12px;}
 
.gridLined.twoBy .row .sm-twelve.lg-six.leftCol{ 
	/*border-right:2px solid #bbbdbf;
	border-top:2px solid #bbbdbf;*/
	border-right:2px solid transparent;
	border-top:2px solid transparent;
}
.gridLined.twoBy .row .sm-twelve.lg-six.rightCol{  /*border-top:2px solid #bbbdbf;*/ border-top:2px solid transparent; }

.gridLined.twoBy .row .sm-twelve.lg-six.leftCol:nth-of-type(1){ border-top:2px solid transparent; }

.gridLined.twoBy .row .sm-twelve.lg-six.rightCol:nth-of-type(2){ border-top:2px solid transparent; }


#addressDefault {
	display:block;
}
#addressChange, #addressNew, #addressEdit {
	display:none;
}
.toggleDivGroupItemClose {
	position:relative;
	z-index:1000;
	font-weight:bold;
}
.cartBorderBottom {
	background-color: #fff;
	border-bottom: 1px solid #F6F5F4;
	padding-bottom:15px;
}
.cartPriceRow{
	background-color: #fff;
	padding: 10px;
}

.cartFooter {
	text-transform:uppercase; 
	color:#D7D7D8; 
	text-align:left;  
	margin-top:20px
}

.cartFooter a{ color:#D7D7D8; }

.cartFooter ul li { 
	display:inline; 
	padding-right:32px;
	font-size:18px;
}

.cartFooter ul li:last-child {
	display:inline; 
	padding-right:0px;
}

.modalOverlayCart {
	position: fixed;
	display: table;
	width: 100vw;
	height: 100vh;
	/*background-color: rgba(255,255,255,0.90);*/
	background-color: rgba(0,0,0,0.75);
	padding: 57px 15px 15px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.cartSidebar.adminOrders{  
	padding:15px 0 0 0; 
	border: 2px solid #bbbdbf;
}

.cartSidebar.adminOrders input[type=text]{
	width:100%; 
	line-height:2em; 
	font-weight:bold; 
	text-align:center;	
	border:1px solid transparent;
	margin:8px auto;
}

.closeCartButton{ font-weight:bold; text-align:right; margin-right:0px; margin-bottom:25px; line-height:1; }
.closeCartButton a,
.closeCartButton i  { line-height:1;} 