.desktop-burger {
	position: fixed;
	right: 0;
	top: -56px;
	color: #fff;
	height: 56px;
	transition: top 0.5s ease-out;
	text-align: center;
	width: 56px;
	cursor: pointer;
}

.desktop-burger i {
	color: #fff !important;
	line-height: 56px;
	font-size: 28px;
	text-shadow: 0 4px 4px rgba(0,0,0,0.5);
}

.desktop-burger.go-burger-go {
	top: 0 !important;
}

.navBgWrapper {
	position: fixed;
	/*height: 85px;*/
	height: 56px;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	z-index: 18;
	/*background-color: #fff;*/
	/*background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0px,rgba(0,0,0,0.35) 50px,rgba(0,0,0,0) 85px);*/
	background-color: rgba(0,0,0,0.50);
	text-align: center;
	/*box-shadow: 0 2px 8px rgba(0,0,0,0.35);*/
	transition: top .75s ease, background-color .5s;
}

.navWidthWrapper {
	position: relative;
	display: block;
	width: 100%;
	max-width: 1200px;
	height: 100%;
	padding: 0;
	margin: 0 auto;
}

.navBgWrapper a:link,
.navBgWrapper a:visited,
.navBgWrapper a:hover,
.navBgWrapper a:active,
.navBgWrapper i {
	color: #fff;
	transition: color 0.35s ease-out;
}

/*.navBgWrapper.navBgBurgerSummon a:link,
.navBgWrapper.navBgBurgerSummon a:visited,
.navBgWrapper.navBgBurgerSummon a:hover,
.navBgWrapper.navBgBurgerSummon a:active,
.navBgWrapper.navBgBurgerSummon i {
	color: #000;
}*/

.navBgWrapper.navBgBurgerSummon {
	background-color: rgba(0,0,0,0.85);
}

.logoWrapper {
	position: absolute;
	left: 15px;
	top: 0;
	height: 100%;
}

.logoLink {
	position: relative;
	display: block;
	text-align: left;
	height: 100%;
}

.navLogo {
	position: relative;
	height: 56px;
	padding: 15px 0;
}

.navLinksWrapper {
	position: absolute;
	display: none;
	right: 90px;
	top: 0;
	height: 100%;
}

.navLinksList {
	position: relative;
	height: auto;
	/*padding: 35px 35px 0;*/
	padding: 10px 35px 0;
	margin-bottom: 26px;
}

.navLinksList li {
	position: relative;
	display: inline-block;
	height: 100%;
	line-height: 56px;
	text-transform: uppercase;
	font-size: 12px;
}

@media all and (min-width : 641px) {
	.navLinksList li { margin-right: 10px; }
}

.navLinksList li .active {
	display: inline;
	font-weight: 700;
}

.navLinksList li:last-of-type {
	margin-right: 0;
}

.navLinksList .icon-down-dir,
.navLinksList .icon-angle-down {
	display: none;
	position: absolute;
	width: 20px;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 6px;
	line-height: 6px;
}

.hoverArrow {
	display: inline !important;
}

.navIconsWrapper {
	position: absolute;
	top: 0;
	right: 50px;
	height: 56px;
	text-align: right;
}

.navBurgerWrapper {
	position: absolute;
	right: 15px;
	top: 0;
	height: 56px;
	width: 35px;
}

.iconWrapper {
	position: relative;
	display: inline-block;
	text-align: center;
	height: 100%;
	margin-left: 5px;
}

.cartIconWrapper {
	/*display: none !important;*/
}

.navIconsWrapper i,
.navBurgerWrapper i {
	position: relative;
	display: inline-block;
	height: 100%;
	line-height: 56px;
}

.navIconsWrapper .icon-basket { font-size: 18px; }
.navIconsWrapper .icon-torso { font-size: 18px; }

.mobileNavFooter {
	position: relative;
	display: block;
	height: auto;
}

.navFooterLinks {
	margin: 0 35px;
}

.navFootLink {
	position: relative;
	height: 32px;
	line-height: 32px;
	border: none; /* its a button, this is needed */
	background-color: transparent; /* its a button, this is needed */
	vertical-align: middle;
}

.navSocialIcons {
	position: relative;
	display: block;
	left: 0;
	right: 0;
	height: auto;
}

.navSocialIcons li {
	position: relative;
	display: inline-block;
	height: 30px;
	margin: 0 3px;
}

.navSocialIcons a { height: 100%; }
.navSocialIcons img { height: 100%; }

@media all and (min-width : 641px) {

	.navSocialIcons {
		display: none;
	}

	.navIconsWrapper {
		right: 24px;
	}

}

.navSocialIcons li.navCopyright {
	position: relative;
	display: block;
	font-size: 12px;
	height: auto;
	margin-top: 6px;
}

.navPlaceholder {
	position: relative;
	display: block;
	height: 56px;
	background-color: #000;
}

.scrollWaypoint {
	position: absolute;
	width: 100%;
	height: 1px;
	top: 10vh;
}

/* Interactivity */
.navBgScroll { top: -85px; }
.navBgOpen.navBgScroll { top: 0px; }
.navBgScroll a:link,
.navBgScroll a:visited,
.navBgScroll a:hover,
.navBgScroll a:active,
.navBgScroll i { color: rgba(0,0,0,0); }

.navBgScroll .navLinksList .icon-down-dir,
.navBgScroll .navLinksList .icon-angle-down { bottom: 6px; }

.navBgOpen { height: 100vh !important; }
.navBgWrapper.navBgOpen {
	background-color: #000;
	transition: none;
}

.burgerActive {
	color: #fff !important;
	background-color: #000 !important;
}

.burgerActive i {
	color: #fff !important;
	background-color: #000 !important;
}

.navLinksMobile {
	display: block !important;
	top: 56px !important;
	right: 15px !important;
	left: 15px !important;
	bottom: 15px !important;
	height: auto !important;
	background-color: #000 !important;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	overflow: auto;
}

.navLinksMobile .navLinksList li {
	color: #fff !important;
	display: block !important;
	height: 50px !important;
	line-height: 50px !important;
	font-size: 18px !important;
	font-weight: 600 !important;
	border-bottom: 1px #4f5052 dashed;
}

.navLinksMobile .navLinksList li:first-of-type {
	border-top: 1px #4f5052 dashed;
}

.navLinksMobile a:link,
.navLinksMobile a:visited,
.navLinksMobile a:hover,
.navLinksMobile a:active {
	color: #fff !important;
}

.navLinksMobile i { display: none !important; }

.navIconsWrapper i.cartActiveArrow { display: none; }
.navIconsWrapper i.userActiveArrow { display: none; }

.caaActive { display: inline; }


/* Media Queries */
@media all and (min-width : 641px) {
	.navLogo { padding: 15px 0; }
	.navLinksWrapper { display: inline; }
	.navLinksList { padding: 0; }
	.navBurgerWrapper { display: none; }
}

@media all and (min-width : 741px) {
	.navLogo { padding: 13px 0; }
	.navBurgerWrapper { right: 30px; }
	.navLinksWrapper { right: 125px; }
	.navLinksList li {
		margin-right: 14px;
	}
}

@media all and (min-width : 741px) {
	.logoWrapper {
		left: 30px;
	}
}

@media all and (min-width : 961px) {

	.navLogo {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.navLinksWrapper {
		right: 120px;
	}

	.navLinksList li {
		font-size: 14px;
		margin-right: 30px;
	}

	.iconWrapper {
		margin-left: 10px;
	}
}

@media all and (min-width : 1261px) {
	.logoWrapper {
		left: 0px;
	}

	.navLinksWrapper {
		right: 90px;
	}

	.navIconsWrapper {
		right: -6px;
	}
}

.navDropdownContainer {
	position:relative;
	display:inline-block;
	bottom:0px;
}
.navDropdown {
	position:absolute;
	display:none;
	z-index:19;
	color:#000000;
}

.navDropdownCart {
	width: calc(100vw - 30px);
	height: auto;
	right: -75px;
}
.navDropdownUser {
	width: auto;
	right: -40px;
}

.navDropdownContainer .navDropdownTop { top: 83px; }
.navDropdownContainer .navDropdownScroll { top: 83px; }
.navDropdownContainer .navDropdownMobileMenu { top: 56px; }

.navDropdownCart.navDropdownMobileMenu { height: calc(100vh - 55px); }

.navDropdownOutside {
	position:relative;
	border-left: 3px solid #000;
	border-right: 3px solid #000;
	border-bottom: 3px solid #000;
	background-color:#fff;
	width: 100%;
	z-index:20;
	height: 100%;
}
.navDropdownInside {
	background-color:#FFF;
	height:100%;
	width:100%;
	position:relative;
	z-index:21;
	padding:15px;
	text-align:left;
}
.navDropdown img.dropdownArrowUp {
	position:absolute;
	z-index:99999;
	right:4px;
	top:0px;
}
.navDropdownContent {
	margin-top:15px;
	padding:30px 30px 0 30px;
	position:relative;
}
.navDropdownContent.cart {
	border:1px solid #d7d7d8;
	margin-top:15px;
	padding: 15px 15px 0;
	position:relative;
	width: 100%;
	max-height:440px;
	overflow:auto;
}
.cartSubTotalRow {
	margin-top:8px;
	background-color:#F6F5F4;
	border-top: 1px solid #bbbdbf;
	padding: 15px;
	margin: 30px -15px 0;
}
.navNotificationBubble {
	position:absolute;
	top:12px;
	right:7px;
	width: 12px;
	height: 12px;
	background-color: #fff;
	border-radius: 6px;
	text-align: center;
	font-size: 9px;
	line-height: 10px;
	font-weight: 600;
	color: #000;
	z-index: 12;
	padding-top: 1px;
}

.bubbleScroll {

}

.navDropdownTitle h1 {
	color:#000;
	text-transform:uppercase;
}
.navDropdownTitle h1 span {
	float:right;
	font-weight:normal;
}
.navDropdown .navList li {
	padding: 6px 12px;
	text-align:center;
	font-size:17px;
	text-transform:uppercase;
}
.navDropdown .navList li a {
	color:#000;
}
.navDropdown .navList li.active a {
	font-weight:bold;
}
.navDropdown .navList li.sep {
	border-top:1px solid #000;
	margin:12px 0 0 0;
	font-size:1px;
}
.navDropdown .navList li.bottom {
	text-transform:none;
	font-weight:bold;
	font-size:18px;
}

@media all and (min-width : 641px) {
	.navDropdownCart {
		right: -41px;
		width: 460px;
		height: auto;
	}
	.navDropdownUser {
		right: -6px;
		width: 175px;
	}
	.navDropdownContent.cart {
		overflow: auto;
		max-height: 400px;
	}
	.navDropdownInside {
		padding: 30px;
	}
}

.navDropdownToggle .icon-down-dir, .navDropdownToggle .icon-angle-down {
    display: none;
	position:absolute;
	width:30px;
	top:40px;
	left:-2px;
    line-height: 6px;
}

.navDropdownToggle .hoverArrow { display:inline-block !important;}

@media (min-width: 641px){
	.navDropdownUser {
		right: -6px;
		width: 230px;
	}
}

/* Here's some MQs to account for shitty iPhone 4 & 5's Landscape Landing Viewport */

@media all and (max-width : 568px) and (orientation : landscape) {

	.sdWrapper .sdContent .navBgWrapper { height: 36px !important; }
	.sdWrapper .sdContent .navBgWrapper .navLogo { padding: 5px 0 !important; }
	.navLogo { height: 36px !important }
	.navIconsWrapper i { line-height: 36px !important; }
	.navBurgerWrapper i { line-height: 36px !important; }
	.navPlaceholder { height: 36px !important; }
	.h100vh-landing { height: calc(100vh - 36px); }
}
