body {
  height: 100%;
}
.collectionsPage {
  background-image: url("/preorder/site2/images/bg_collections.jpg");
  background-position-x: center;
  background-position-y: 56px;
  background-size: 1916px 1305px;
  background-repeat: no-repeat;
  height: 100%;
}
.collectionsPage .breadcrumb {
  display: none;
}
.collectionsPage.bg2 {
  background-image: url("/preorder/site2/images/bg_collections2.jpg");
  background-position-x: center;
  background-position-y: calc(50% - -280px);
  background-size: 1916px 1600px;
}
.collectionsPage.bg2 .wrapper .content .title {
  font-size: 46px;
  border-bottom: none;
  margin-bottom: 10px;
}
.collectionsPage.bg2 .wrapper .content .title .part2 {
  margin-left: 8px;
}
.collectionsPage.bg2 .wrapper .content .boxes .box {
  border: 3px solid rgba(255, 255, 255, 0.9);
}
.collectionsPage .wrapper {
  height: 100%;
  width: 100%;
  display: table;
}
.collectionsPage .wrapper .content {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 8.75%;
}
.collectionsPage .wrapper .content .titleContainer {
  width: 610px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
.collectionsPage .wrapper .content .titleContainer .title {
  color: white;
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 26px;
  text-rendering: geometricPrecision;
}
.collectionsPage .wrapper .content .titleContainer .title .part1 {
  font-weight: 600;
  display: inline-block;
}
.collectionsPage .wrapper .content .titleContainer .title .part2 {
  font-weight: 100;
  display: inline-block;
  margin-left: 8px;
  letter-spacing: 2px;
}
.collectionsPage .wrapper .content .boxes .box {
  cursor: pointer;
  padding: 33px 0;
  width: 212px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: white;
  display: inline-block;
  margin: 0 1px;
  margin-top: 3px;
  border: 2px solid white;
  transition: .3s;
}
.collectionsPage .wrapper .content .boxes .box:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media all and (max-width: 1680px) {
  .collectionsPage .wrapper .content .boxes .box {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 205px;
    font-size: 20px;
  }
}
