.fullBG {
	position: fixed;
	background:
		linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
		url(/img/slider/vj_city_landscape.jpg) no-repeat center 65%;
	background-size: cover;
	width: 100%;
	height: 100vh;
	top: 0;
}


.shopItemsWrapper {
	opacity: 0;
}


.lineProductsOpacity {
	opacity: 1 !important;
	transition: opacity 0.5s;
}