
html, body {
	font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

.full-vh-wrapper {
	position: relative;
	display: block;
	height: 100vh;
	width: 100vw;
}

.logo-wrapper {
	position: relative;
	display: block;
	height: 42px;
	text-align: center;
	vertical-align: center;
}

.img-logo {
	position: relative;
	display: inline-block;
	height: 22px;
	top: 11px;
	width: auto;
	vertical-align: center;
}

.launch-slogan-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	height: 42px;
}

.launch-slogan {
	position: relative;
	display: block;
	width: 100%;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 11px;
	line-height: 42px;
	letter-spacing: 6.8px;
}

.corner-job {
	position: relative;
	text-align: center;
	width: calc(100vw - 30px);
	height: calc(100vh - 84px);
	margin: 0 15px 42px;
	border-top-left-radius: 24px;
	border-bottom-right-radius: 24px;
	background: url(../img/vj-world-splash.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
}

.width-wrapper {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.hero-centerer {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	padding-bottom: 125px;
}

.hero-center {
	position: absolute;
	top: calc(50% - 50px);
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: calc(100vw - 30px);
	min-width: 290px;
	width: 100%;
	padding: 0 15px;
}

.signup-foot {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	text-align: left;
	/*height: 174px;*/
	padding: 15px 15px 0;
}

.signup-left {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
	vertical-align: top;
}

.signup-left p {
	color: #fff;
	font-weight: 700;
	line-height: 1.8;
}

.signup-right {
	position: relative;
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.p1 {
	font-family: serif;
	font-size: 24px;
	margin-bottom: 10px;
	line-height: 1;
}

.p2 {
	text-transform:uppercase;
	font-size:24px;
}

.p3 {
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 7px;
}

.p4 {
	text-transform: uppercase;
	margin-bottom: 12px;
}

input.btn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	padding: 10px 15px 10px 15px;
	background-color: #fff;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	text-transform:uppercase;
}
input.btn:hover {
	color: #fff;
	background-color: #000;
}

input.clear[type='text']{
	background:transparent;
	border:1px solid #fff;
	color:#fff;
	padding:10px;
	text-align:center;
	margin-right: 15px;
}

input.clear[type='text']:focus {
	background:transparent; 
	outline: 0;
	border:2px solid #fff;
	color:#fff;
}

input.clear::-webkit-input-placeholder { /* WebKit browsers */
	color:    #FFF;
	opacity:1;
}

input.clear:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #FFF;
	opacity:1;
}

input.clear::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #FFF;
	opacity:1;
}

input.clear:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #FFF;
	opacity:1;
}

.form-group input[type='text'],
.form-group input[type='password'],
.form-group input[type='url'],
.form-group input[type='email'],
.form-group textarea{
	width:100%;
}


@media all and (min-width: 760px) and (orientation: portrait), all and (min-height: 450px) and (orientation: landscape) {

	.logo-wrapper {
		height: 72px;
	}

	.img-logo {
		height: 34px;
		top: 20px;
	}

	.launch-slogan-wrapper {
		height: 72px;
	}

	.launch-slogan {
		line-height: 72px;
		font-size: 13px;
	}

	.corner-job {
		width: calc(100vw - 144px);
		height: calc(100vh - 144px);
		border-top-left-radius: 24px;
		border-bottom-right-radius: 24px;
		margin: 0 72px 72px;
	}

	.width-wrapper {
		max-width: 600px;
	}

	.hero-centerer {
		padding-bottom: 174px;
	}

	.hero-center {
		padding: 0;
	}

	.signup-foot {
		text-align: left;
		height: 174px;
		padding-top: 30px;
		border-top: solid 1px #fff;
		padding: 30px 15px 0;
	}

	.signup-left {
		width: 33.333%;
		padding-right: 30px;
		border-right: 1px solid #fff;
		height: 90px;
		margin-bottom: 0;
	}

	.signup-left p {
		line-height: 1.8;
	}

	.signup-right {
		width: calc(66.666% - 30px);
		margin-left: 30px;
		height: 90px;
	}

	.p1 {
		font-size: 28px;
	}

	.p2 {
		font-size:28px;
	}

	.p3 {
		font-size: 26px;
	}


}




