.owl-theme .owl-controls {
  margin-left:auto;
  margin-right:auto;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(75% - 10px);
  text-align: center;
  width: 100%;
  max-width: 1440px;
  -webkit-tap-highlight-color: transparent;
}

@media all and (min-width : 585px) { .owl-theme .owl-controls { top: calc(50% - 20px); } }


.owl-nav {
    position: relative;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-controls .owl-nav [class*='owl-'] {
  color: #fff;
  font-size: 26px;
  display: inline-block;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.owl-theme .owl-controls .owl-nav [class*='owl-']:hover {
  color: white;
  text-decoration: none;
}
.owl-nav .owl-prev {
    position: absolute;
    left: 0px;
}
.owl-nav .owl-next {
    position: absolute;
    right: 0px; 
}
.owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 8px;
  background: #fff;
  display: block;
  -webkit-backface-visibility: visible;
  border-radius: 60px;
  box-shadow: 0 2px 5px #000;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #000;
}

.owl-dots {
  display: inline-block;
  width: auto;
}

@media all and (min-width : 741px) {
    .owl-theme .owl-controls { }
    .owl-theme .owl-controls .owl-nav [class*='owl-'] { }
    .owl-theme .owl-controls .owl-nav .owl-prev { }
    .owl-theme .owl-controls .owl-nav .owl-next { }
}